@charset 'UTF-8';
//====================================
//  Typeface
//====================================

$font-set-primary: sofia-pro, source-han-sans-cjk-ja, sans-serif;

$mincho-set-primary: ten-mincho-text, serif !default;

$eng-set-primary: sofia-pro, sans-serif !default;
