@charset 'UTF-8';
@use "sass:math";
@use "../global" as *;

.toc {
  $root_toc: &;
  $elem_index: "#{$root_toc}--index";
  $elem_contents: "#{$root_toc}--contents";

  @include mq(lg) {
    display: flex;
  }

  @at-root #{$elem_index} {
    @include mq(lg) {
      display: block;
      position: sticky;
      top: 10vw;
      flex-basis: 50%;
      height: 100%;
    }
  }

  @at-root #{$elem_index} .list {
    display: block;
  }

  @at-root #{$elem_index} .list--item {
    display: flex;
    align-items: center;
  }

  @at-root #{$elem_index} .svg {
  }

  @at-root #{$elem_index} .circle_border {
    transition: stroke-dashoffset 1s 0s cubic-bezier(1, 0.25, 0.1, 1);
    stroke-width: 1px;
    stroke-dasharray: var(--stroke-dasharray, 0); //js操作
    stroke-dashoffset: var(--stroke-dashoffset, 0); //js操作
    stroke: var(--color, blue);
    fill: transparent;
    cx: 20;
    cy: 20;
    r: 10;
  }

  @at-root #{$elem_contents} {
    flex-basis: 50%;
  }

  @at-root #{$elem_contents} .list {
    display: block;
  }

  @at-root #{$elem_contents} .list--item {
    display: block;
  }
}
