@charset 'UTF-8';
@use "sass:math";
@use "../global" as *;
/*
  Footer
-----------------------------------------------------*/
.l-footer {
  // padding: pxToRem(24px) pxToRem(24px) pxToRem(24px) pxToRem(40px);
  width: 100%;
  padding: pxToRem(48px) 0;
  // padding-left: pxToRem(48px);
  clear: both;
  margin-inline: auto;

  @include mq(lg) {
    padding-top: pxToRem(96px);
  }
}
