@charset 'UTF-8';
@use "sass:math";
@use "../../global" as *;

.p-widget {
  width: 100vw;
  margin: 0 calc(50% - 50vw);

  @include mq(lg) {
    width: 100%;
    margin: 0;
  }

  &__title {
    padding: pxToRem(8px) pxToRem(16px);
    background-color: $md-blue-grey-900;
    color: $md-white;
    font-size: pxToRem(18px);

    @include mq(lg) {
      width: 100%;
      margin: 0;
      padding: pxToRem(8px) pxToRem(16px);
      color: $md-white;
      font-size: pxToRem(18px);
    }
  }

  &__list {
    display: block;
    width: 100%;
  }

  &__anchor {
    display: block;
    padding: pxToRem(16px);
    border-bottom: 0.5px solid $primary-border-color;
    background-color: $md-white;
    font-weight: 300;

    @include mq(lg) {
      padding: pxToRem(16px);
      font-size: clamp(pxToRem(10px), pxToVw(14px, 1366px), pxToRem(14px));
    }
  }
}
