@charset 'UTF-8';
@use "sass:math";
@use "../../global" as *;

/*
  book
*/
.p-book {
  $this: &;
  position: relative;
  z-index: 1;

  //--------------------------------------------
  // gridレイアウト
  //--------------------------------------------
  @at-root &__grid {
    display: grid;
    grid-template:
      "pic title" auto
      "blog blog" auto
      "button button" auto /
      1fr auto;

    @include mq(sm) {
      grid-template:
        "pic pic" auto
        "title blog" 1fr
        "button ." auto /
        1fr 1fr;
    }
  }

  //--------------------------------------------
  // タイトル
  //--------------------------------------------
  @at-root &__title {
    // text-align: center;
    display: flex;
    grid-area: title;
    writing-mode: vertical-rl;
    // margin-left: -5vw;
    transform: translateX(-11vw);

    @include mq(sm) {
      align-items: center;
      justify-content: flex-start;
      transform: unset;
    }
  }

  @at-root &__text {
    font-family: $mincho-set-primary;
    font-size: pxToRem(24px);
    letter-spacing: 0.25em;

    @include mq(sm) {
      font-size: pxToRem(32px);
      letter-spacing: 0.25em;
    }

    @include mq(lg) {
      font-size: pxToRem(40px);
    }
  }

  //--------------------------------------------
  // 本の画像
  //--------------------------------------------
  @at-root &__pic {
    display: block;
    grid-area: pic;
    transform: translateX(-10%);

    @include mq(sm) {
      grid-area: pic;
      width: 100vw;
      margin: 0 calc(50% - 50vw);
      margin-bottom: pxToRem(60px);
      transform: unset;
    }

    @include mq(lg) {
      margin-bottom: pxToRem(120px);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  //--------------------------------------------
  // ブログ記事エリア
  //--------------------------------------------
  @at-root &__blog {
    grid-area: blog;

    padding: pxToRem(40px) 0 pxToRem(24px) 0;

    @include mq(sm) {
      padding: 0;
    }
  }

  //--------------------------------------------
  // ボタン
  //--------------------------------------------
  @at-root &__button {
    display: flex;
    grid-area: button;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    @include mq(sm) {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      // margin-top: -10vh;
    }
  }
}
