@charset "UTF-8";
@use "sass:math";
@use "../global" as *;
//====================================
//  Grid
//====================================

.#{$prefix}-grid {
  $this: &;
  --ol-grid-columns: #{$column};
  display: grid;
  grid-template-columns: repeat(var(--ol-grid-columns), minmax(0, 1fr));
  margin: 0;
  padding: 0;

  @each $device, $breakpoint in $breakpoints {
    @media screen and (min-width: $breakpoint) {
      // Columns
      // ----------------------------
      @for $i from 1 through $column {
        &[data-cols~="#{$device}:#{$i}"] {
          --ol-grid-columns: #{$i};
          grid-template-columns: repeat(var(--ol-grid-columns), minmax(0, 1fr));
        }
      }

      // Rows
      // ----------------------------
      @for $i from 1 through 6 {
        &[data-rows~="#{$device}:#{$i}"] {
          grid-template-rows: repeat(#{$i}, minmax(0, 1fr));
        }
      }

      // gap
      // ----------------------------
      @each $size, $val in $spaces {
        &[data-gap~="#{$device}:#{$size}"] {
          gap: max(
            calc((var(--#{$prefix}-space-#{$size}) * 0.75) / 16 * 1rem),
            calc(var(--#{$prefix}-space-#{$size}) / var(--#{$prefix}-view-point) * 100vw)
          );
        }

        &[data-gap-x~="#{$device}:#{$size}"] {
          column-gap: max(
            calc((var(--#{$prefix}-space-#{$size}) * 0.75) / 16 * 1rem),
            calc(var(--#{$prefix}-space-#{$size}) / var(--#{$prefix}-view-point) * 100vw)
          );
        }

        &[data-gap-y~="#{$device}:#{$size}"] {
          row-gap: max(
            calc((var(--#{$prefix}-space-#{$size}) * 0.75) / 16 * 1rem),
            calc(var(--#{$prefix}-space-#{$size}) / var(--#{$prefix}-view-point) * 100vw)
          );
        }
      }
    }
  }

  &--item {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    margin: 0;

    @each $device, $breakpoint in $breakpoints {
      @media screen and (min-width: $breakpoint) {
        // Alignment
        // ----------------------------
        &[data-align~="#{$device}:start"] {
          align-items: flex-start;
        }

        &[data-align~="#{$device}:center"] {
          align-items: center;
        }

        &[data-align~="#{$device}:end"] {
          align-items: flex-end;
        }

        &[data-align~="#{$device}:top"] {
          justify-content: flex-start;
        }

        &[data-align~="#{$device}:middle"] {
          justify-content: center;
        }

        &[data-align~="#{$device}:bottom"] {
          justify-content: flex-end;
        }

        // Column
        // ----------------------------
        @for $i from 1 through $column {
          &[data-col~="#{$device}:#{$i}"] {
            grid-column: span $i / span $i;
          }
        }

        &[data-col~="#{$device}:full"] {
          grid-column: 1 / -1;
        }

        &[data-col~="#{$device}:auto"] {
          grid-column: auto;
        }

        // Row
        // ----------------------------
        @for $i from 1 through 6 {
          &[data-row~="#{$device}:#{$i}"] {
            grid-row: span $i / span $i;
          }
        }

        &[data-row~="#{$device}:full"] {
          grid-row: 1 / -1;
        }

        &[data-row~="#{$device}:auto"] {
          grid-row: auto;
        }

        // Order
        // ----------------------------
        @for $i from 0 through 3 {
          &[data-order~="#{$device}:-#{$i}"] {
            order: calc($i * -1);
          }

          &[data-order~="#{$device}:#{$i}"] {
            order: $i;
          }
        }

        // Over Container
        // ----------------------------
        &[data-over~="#{$device}:left"] {
          margin-left: calc(50% - 50vw + calc(var(--#{$prefix}-scrollbar-width) * 1px));
        }
        &[data-over~="#{$device}:right"] {
          margin-right: calc(50% - 50vw + calc(var(--#{$prefix}-scrollbar-width) * 1px));
        }
        &[data-over~="#{$device}:clearLeft"] {
          margin-left: 0;
        }
        &[data-over~="#{$device}:clearRight"] {
          margin-right: 0;
        }
      }
    }
  }
}
