@charset 'UTF-8';
@use "sass:math";
@use "../global" as *;
/*
  Spacer
-----------------------------------------------------*/
.#{$prefix}-spacer {
  @each $device, $breakpoint in $breakpoints {
    @media screen and (min-width: $breakpoint) {
      @for $i from 0 through 30 {
        &[data-py~="#{$device}:#{$i}"] {
          padding-top: calc(pxToRem(var(--#{$prefix}-space)) * $i);
          padding-bottom: calc(pxToRem(var(--#{$prefix}-space)) * $i);
        }

        &[data-px~="#{$device}:#{$i}"] {
          padding-right: calc(pxToRem(var(--#{$prefix}-space)) * $i);
          padding-left: calc(pxToRem(var(--#{$prefix}-space)) * $i);
        }

        &[data-pr~="#{$device}:#{$i}"] {
          padding-right: calc(pxToRem(var(--#{$prefix}-space)) * $i);
          padding-left: 0;
        }

        &[data-pl~="#{$device}:#{$i}"] {
          padding-right: 0;
          padding-left: calc(pxToRem(var(--#{$prefix}-space)) * $i);
        }

        &[data-my~="#{$device}:#{$i}"] {
          margin-top: calc(pxToRem(var(--#{$prefix}-space)) * $i);
          margin-bottom: calc(pxToRem(var(--#{$prefix}-space)) * $i);
        }

        &[data-mx~="#{$device}:#{$i}"] {
          margin-right: calc(pxToRem(var(--#{$prefix}-space)) * $i);
          margin-left: calc(pxToRem(var(--#{$prefix}-space)) * $i);
        }

        &[data-mr~="#{$device}:#{$i}"] {
          margin-right: calc(pxToRem(var(--#{$prefix}-space)) * $i);
          margin-left: 0;
        }

        &[data-ml~="#{$device}:#{$i}"] {
          margin-right: 0;
          margin-left: calc(pxToRem(var(--#{$prefix}-space)) * $i);
        }
      }
    }
  }

  // overflow
  &[data-overflow="hidden"] {
    overflow: hidden;
  }
  &[data-overflow="auto"] {
    overflow: auto;
  }
  &[data-overflow="visible"] {
    overflow: visible;
  }

  // Background-color
  &[data-bg="base"] {
    background-color: var(--#{$prefix}-base-color);
  }
  &[data-bg="main"] {
    background-color: var(--#{$prefix}-main-color);
  }
  &[data-bg="accent"] {
    background-color: var(--#{$prefix}-accent-color);
  }
  &[data-bg="light"] {
    background-color: var(--#{$prefix}-light-color);
  }
  &[data-bg="dark"] {
    background-color: var(--#{$prefix}-dark-color);
  }
  &[data-bg="white"] {
    background-color: #fff;
  }
  &[data-bg="block"] {
    background-color: #000;
  }

  // border-color
  &[data-border~="top"] {
    border-top: 1px solid var(--#{$prefix}-light-color);
  }
  &[data-border~="bottom"] {
    border-bottom: 1px solid var(--#{$prefix}-light-color);
  }
}
