@charset 'UTF-8';
@use "sass:math";
@use "../setting" as *;

@mixin lh-crop($line-height: 1.5, $capital-letter: 1) {
  overflow: hidden;

  &::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-top: calc((#{$capital-letter} - #{$line-height}) * 0.5em);
  }

  &::after {
    //最終行も取り除く
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-top: calc((#{$capital-letter} - #{$line-height}) * 0.5em);
  }
}
