@charset 'UTF-8';
@use "sass:math";
@use "../../global" as *;

/*
  Article
*/

.c-article {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  height: pxToRem(74px);
  overflow: hidden;
  transition-duration: 0.6s;
  transition-timing-function: $easing;
  border-radius: 7.5px;
  background-color: $md-white;
  box-shadow: 2px 3px 7px -1px rgba(110, 110, 110, 0.15);

  @include hover {
    transform: scale(1.05);
    box-shadow: 2px 3px 7px -1px rgba($base-color, 0.4);
  }

  @include mq(md) {
    height: pxToRem(90px);
  }

  @include mq(lg) {
    height: pxToRem(125px);
    border-radius: 15px;
  }

  @at-root &__anchor {
    &:after {
      content: "";
      position: absolute;
      z-index: 99;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: auto;
      speak: none;
    }
  }

  @at-root &__inner {
    display: flex;
    position: relative;
    box-sizing: border-box;
    height: 100%;
  }

  @at-root &__title {
    display: flex;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    flex-basis: 70%;
    flex-direction: column;
    padding: pxToRem(8px) pxToRem(16px);
    @include mq(lg) {
      flex-basis: 70%;
      padding: pxToRem(16px) pxToRem(40px);
    }
  }

  @at-root &__text {
    font-family: source-han-sans-cjk-ja, sans-serif;
    // margin-bottom: pxToRem(16px);
    font-size: pxToRem(12px);
    font-style: normal;
    font-weight: 500;

    @include mq(lg) {
      // margin-bottom: pxToRem(40px);
      font-size: pxToRem(16px);
    }
  }

  @at-root &__tag {
    display: flex;
    align-items: center;
    margin-top: auto;
    // @include mq(lg) {
    //   display: flex;
    // }
  }

  @at-root &__category {
    display: inline-block;
    padding: 0.15em 1em;
    border-radius: pxToRem(5px);
    background-color: $main-color;
    color: $md-white;
    font-size: pxToRem(10px);

    @include mq(md) {
      padding: 0.25em 1em;
      font-size: clamp(pxToRem(10px), pxToRem(12px, 768px), pxToRem(12px));
    }

    @include mq(lg) {
      font-size: pxToRem(14px);
    }
  }

  @at-root &__category__inner {
    -webkit-box-orient: vertical;
    display: block;
    width: 80%;
    -webkit-line-clamp: 2;
    // margin-left: auto;
    overflow: hidden;
    font-weight: 300;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @at-root &__time {
    display: inline-block;
    margin-left: auto;
    font-size: pxToRem(10px);

    @include mq(lg) {
      font-size: pxToRem(16px);
    }
  }

  @at-root &__thumbnail {
    position: relative;
    flex-basis: 30%;
    border-radius: 1rem 0 0 1rem;
  }

  @at-root &__figure {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;

    @include mq(lg) {
      flex-basis: 30%;
    }

    img {
      width: 100%;
      height: 100%;
      background-clip: padding-box;
      object-fit: cover;
    }
  }
}
